{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="about_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          About
        </h2>
      </div>
      <div class="box layout_padding2-top layout_padding-bottom">
        <div class="detail-box">
          <p>
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The
            point of using LoremIt is a long established fact that a reader
            will be distracted by the readable content of a page when looking
            at its layout. The point of using Lorem
          </p>
        </div>
        <div class="img-box">
          <img src="{% static 'css/images/about-img.jpg' %}" alt="" />
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href="">
        Read More
      </a>
    </div>
  </section>

  <!-- end about section -->

  <!-- info section -->
  <section class="info_section layout_padding-top layout_padding2-bottom">
    <div class="container">
      <div class="social_container">
        <h2>
          Follow Us
        </h2>
        <div class="social_box">
          <a href="">
            <img src="{% static 'css/images/fb.png' %}" alt="" />
          </a>
          <a href="">
            <img src="{% static 'css/images/twitter.png' %}" alt="" />
          </a>
          <a href="">
            <img src="{% static 'css/images/linkedin.png' %}" alt="" />
          </a>
          <a href="">
            <img src="{% static 'css/images/youtube.png' %}" alt="" />
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

{% endblock %}