{% extends 'base.html' %}
{% load static %}
{% block content %}

  </div>
  <!-- end hero area -->

  <!-- project section -->

  <section class="project_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Our Projects
        </h2>
      </div>
      <div class="project_container layout_padding2-top">
        <div class="box">
          <img src="{% static 'imagesp-1.jpg'%}" alt="" />
        </div>
        <div class="box">
          <img src="{% static 'imagesp-2.jpg'%}" alt="" />
        </div>
        <div class="box">
          <img src="{% static 'imagesp-3.jpg'%}" alt="" />
        </div>
        <div class="box">
          <img src="{% static 'imagesp-4.jpg'%}" alt="" />
        </div>
        <div class="box">
          <img src="{% static 'imagesp-5.jpg'%}" alt="" />
        </div>
        <div class="box">
          <img src="{% static 'imagesp-6.jpg'%}" alt="" />
        </div>
        <div class="box">
          <img src="{% static 'imagesp-7.jpg'%}" alt="" />
        </div>
        <div class="box">
          <img src="{% static 'imagesp-8.jpg'%}" alt="" />
        </div>
        <div class="box">
          <img src="{% static 'imagesp-9.jpg'%}" alt="" />
        </div>
      </div>
    </div>
  </section>

  <!-- end project section -->

  <!-- info section -->
  <section class="info_section layout_padding-top layout_padding2-bottom">
    <div class="container">
      <div class="social_container">
        <h2>
          Follow Us
        </h2>
        <div class="social_box">
          <a href="">
            <img src="{% static 'imagesfb.png'%}" alt="" />
          </a>
          <a href="">
            <img src="{% static 'imagestwitter.png'%}" alt="" />
          </a>
          <a href="">
            <img src="{% static 'imageslinkedin.png'%}" alt="" />
          </a>
          <a href="">
            <img src="{% static 'imagesyoutube.png'%}" alt="" />
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

{% endblock %}